@model ProductVM

<div class="card shadow border-0 my-4">
    <div class="card-header bg-black bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2"> Create Product</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.Id" hidden />

            <div class="row">
                <div class="col-10">
                    <div class="border p-3">
                        @*<div asp-validation-summary="ModelOnly"></div>*@
                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Title" class="form-control border-0 shadow" />
                            <label asp-for="Product.Title" class="ms-2"></label>
                            <span asp-validation-for="Product.Title" class="text-danger"></span>
                        </div>
                        <div class="py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 text-muted"></label>
                            <textarea asp-for="Product.Description" class="form-control border-0 shadow"></textarea>
                        </div>


                        <div class="form-floating py-2 col-12">
                            <input asp-for="Product.Price" class="form-control border-0 shadow" />
                            <label asp-for="Product.Price" class="ms-2"></label>
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>



                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.CategoryId" asp-items="@Model.CategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select Category--</option>
                            </select>
                            <label asp-for="Product.CategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.SubCategoryId" asp-items="@Model.SubCategoryList" class="form-select border-0 shadow">
                                <option disabled selected>--Select SubCategory--</option>
                            </select>
                            <label asp-for="Product.SubCategoryId" class="ms-2"></label>
                            <span asp-validation-for="Product.SubCategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <select asp-for="@Model.Product.Gender" asp-items="@Model.Gender" class="form-select border-0 shadow">
                                <option disabled selected>--Select Gender--</option>
                            </select>
                            <label asp-for="Product.Gender" class="ms-2"></label>
                            <span asp-validation-for="Product.Gender" class="text-danger"></span>
                        </div>


                      
                       
                       
                            <fieldset>
                                <div class="flex-xl-row">
                                    <legend class="mt-4">Sizes</legend>
                                    @if(Model.SizeCheckBoxes!=null)
                                    {
                                    @foreach (var SizeCheckbox in Model.SizeCheckBoxes)
                                    {
                                        <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="SelectedSizes" value="@SizeCheckbox.Value" id="checkbox_@SizeCheckbox.Value" checked="@SizeCheckbox.IsChecked">
                                        <label class="form-check-label" for="checkbox_@SizeCheckbox.Value">
                                                @SizeCheckbox.Description
                                            </label>
                                        </div>
                                    }
                                    }

                                </div>
                            </fieldset>
                        <fieldset>
                            <div class="flex-xl-row">
                                <legend class="mt-4">Shoes Sizes</legend>

                                @foreach (var ShoeSizeCheckbox in Model.ShoeSizeCheckBoxes)
                                {
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="SelectedSizes" value="@ShoeSizeCheckbox.Value" id="checkbox_@ShoeSizeCheckbox.Value" checked="@ShoeSizeCheckbox.IsChecked">
                                        <label class="form-check-label" for="checkbox_@ShoeSizeCheckbox.Value">
                                            @ShoeSizeCheckbox.Description
                                        </label>
                                    </div>
                                }

                            </div>
                        </fieldset>
                    


                        <fieldset>
                            <div class="flex-xl-row">
                                <legend class="mt-4">Colors</legend>

                                @foreach (var ColorCheckbox in Model.ColorsCheckBoxes)
                                {
                                    <div class="form-check-inline">
                                        <input class="form-check-input" type="checkbox" name="SelectedColors" value="@ColorCheckbox.Value" id="checkbox_@ColorCheckbox.Value" checked="@ColorCheckbox.IsChecked">
                                        <label class="form-check-label" for="checkbox_@ColorCheckbox.Value">
                                            @ColorCheckbox.Description
                                        </label>
                                    </div>
                                }

                            </div>
                        </fieldset>




                        <div class="form-floating py-2 col-12">
                            <input type="file" name="files" class="form-control border-0 shadow" multiple />
                            <label asp-for="Product.ProductImages" class="ms-2"></label>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                              <button type="submit" class="btn btn-primary form-control">Create</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                    Back to List
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-2">
                    @if (Model.Product.ProductImages != null)
                    {
                        foreach (var image in Model.Product.ProductImages)
                        {
                            <div class="border p-1 m-2 text-center">
                                <img src="@image.ImageUrl" width="100%"
                                     style="border-radius:5px; border:1px solid #bbb9b9" />
                                <a asp-action="DeleteImage" class="btn btn-danger" asp-route-imageId="@image.Id">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>

        </form>
    </div>
</div>




@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons  lists   table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough |  align lineheight | numlist bullist indent outdent',
        });
    </script>




    @{
        <partial name="_ValidationScriptsPartial" />
    }
}